<%# locals: (label:, value:, color: 'indigo') %>
<%
  colors = {
    'indigo' => 'bg-indigo-50 dark:bg-indigo-900/20 text-indigo-700 dark:text-indigo-300',
    'blue'   => 'bg-blue-50 dark:bg-blue-900/20 text-blue-700 dark:text-blue-300',
    'green'  => 'bg-green-50 dark:bg-green-900/20 text-green-700 dark:text-green-300',
    'red'    => 'bg-red-50 dark:bg-red-900/20 text-red-700 dark:text-red-300',
    'yellow' => 'bg-yellow-50 dark:bg-yellow-900/20 text-yellow-700 dark:text-yellow-300',
    'purple' => 'bg-purple-50 dark:bg-purple-900/20 text-purple-700 dark:text-purple-300',
  }
  css = colors.fetch(color, colors['indigo'])
%>
<div class="bg-white dark:bg-gray-800 rounded-xl shadow p-4 flex flex-col gap-1">
  <span class="text-xs text-gray-500 dark:text-gray-400 truncate"><%= label %></span>
  <span class="text-2xl font-bold <%= css %>"><%= value %></span>
</div>
